target/
.git/
.env
data/
*.md
.gitignore
.vscode/
.idea/
node_modules/
src/test/javascript/node_modules/
*.jar
*.war
*.log
launch4j.log
Eisenhower.exe
*.iml
*.iws
*.ipr
.mvn/wrapper/maven-wrapper.jar
