# OS / editor noise
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.local

# Logs / temp
*.log
logs/
tmp/
*.tmp

# Java / Maven
*.class
*.ctxt
.mtj.tmp/
hs_err_pid*
target/
*/**/target/**
*/**/site/**
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml

# Package artifacts
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.exe

# Build outputs
/out/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Configs
application-local.properties
HELP.md

# Node
node_modules/
node/
package-lock.json
.npmrc

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Coverage / reports
coverage/
*.lcov
*.jacoco.exec

# Kubernetes / Docker overrides
*.override.yaml
*.override.yml
data/
